<div class="home-page">
  <div class="home-page-landing">
    <div class="center-container">
      <div class="logo">
        <img class="insta-logo" src="assets/images/instagram-logo.png"  alt="Instagram">
      </div>
      <!-- <div class="choice">
        <button class="choice-btn" (click)="route('/signup')">Sign Up!!</button>
        <button class="choice-btn" (click)="route('/login')">Already a member!</button>    
      </div> -->
      <button (click)="onGetStartedClick()"
      mat-flat-button color="warn">Get Started</button>
    </div>
  </div>
</div>
