<div class="header">
  <div class="left-sec" (click)="navigate()">
    <img class="insta-logo2" src="../../assets/instagram.png" alt="Instagram">
    <img class="insta-logo" src="assets/images/instagram-logo.png" alt="Instagram">
  </div>
  <div *ngIf="!inProfilePgae" class="middle-sec">
    <input mat-icon-button [matMenuTriggerFor]="menu" class="searchbox" type="text" [(ngModel)]="searchItem"
      (input)="onSearchInputChange()" placeholder="Find others!!  " />
    <mat-menu #menu="matMenu">
      <button appHoverEffect mat-menu-item (click)="navigateToProfile(user.userId)" *ngFor="let user of matchingUsers">
        {{ user.username }}
      </button>
    </mat-menu>
  </div>
  <div class="right-sec"></div>
</div>