<app-header></app-header>

<div class="sidebar">
  <div class="sb-container">
    <div class="sb-container-1">
      <div class="sb">
        <lord-icon src="https://cdn.lordicon.com/cnpvyndp.json" trigger="hover" style="width:40px;height:40px">
        </lord-icon>
        <div class="button-descp">Home</div>
      </div>
      <div class="sb" title="New Post!" (click)="newPost()">
        <a style="cursor: pointer;" title="New Post">
          <lord-icon src="https://cdn.lordicon.com/zrkkrrpl.json" trigger="hover"
            colors="primary:#121331,secondary:#000000" style="width:40px;height:40px">
          </lord-icon>
        </a>
        <div class="button-descp">Create</div>
      </div>
      <div class="sb" title="Reels!">
        <a style="cursor: pointer;" title="Reels">
          <lord-icon src="https://cdn.lordicon.com/lwvaowvp.json" trigger="hover"
            colors="primary:#000000,secondary:#000000" style="
              width:40px;height:40px">
          </lord-icon>
        </a>
        <div class="button-descp">Reels</div>
      </div>
      <div class="sb" title="Explore!">
        <a style="cursor: pointer;" title="Explore"><img class="nwpost-icon" src="../../assets/compass_3405524.png"
            alt="NewPost"></a>
        <div class="button-descp">Explore</div>
      </div>
      <div class="sb" title="Messages!">
        <a style="cursor: pointer;" title="Messages"><img class="nwpost-icon" src="../../assets/messenger_3781712.png"
            alt="NewPost"></a>
        <div class="button-descp">Msgs</div>
      </div>
      <div class="sb" title="Alerts!">
        <a style="cursor: pointer;" title="Alerts">
          <lord-icon src="https://cdn.lordicon.com/vspbqszr.json" trigger="hover" style="width:40px;height:40px">
          </lord-icon>
        </a>
        <div class="button-descp">Alerts</div>
      </div>
      <div class="sb" title="View Profile" (click)="navigateToProfile(userId)">
        <a style="cursor: pointer;"><img class="user-icon" src="{{profileUser.profileImage}}" alt=""></a>
        <div class="button-descp">{{ profileUser.username }}</div>
      </div>
    </div>
    <div class="sb" title="Leaving so soon :(" (click)="onLogout()">
      <a class="user-icon" style="cursor: pointer;" title="Logout">
        <lord-icon class="nwpost-icon" src="https://cdn.lordicon.com/gwvmctbb.json" trigger="hover"
          colors="primary:#000000,secondary:#000000" style="width:40px;height:40px">
        </lord-icon>
      </a>
      <div class="button-descp" title="Leaving so soon :(" style="color: rgba(255, 0, 0, 0.784);">Logout</div>
    </div>

  </div>
</div>
<div class="main">
  <div class="main-container">
    <app-spinner *ngIf="!isFetching"></app-spinner>
    <div *ngFor="let post of posts" class="post">
      <div class="container">
        <div class="column">
          <div class="username" (click)="navigateToProfile(post.userId)" style="cursor: pointer;">
            <div class="username-col1">
              <img class="username-icon" [src]="userImageMap[post.userId]" alt="">
            </div>
            <div class="username-col2">
              <b>{{ userNameMap[post.userId] }}</b>
            </div>
          </div>
          <div class="post-image">
            <img class="post-img" src="{{post.path}}" alt="Post Image">
          </div>
          <div class="like-comment">
            <div (click)="likePost(post);" style="cursor: pointer;" title="Like!">
              <div class="like">
                <div class="like-icon">
                  <lord-icon src="https://cdn.lordicon.com/xyboiuok.json" trigger="hover" style="
                        margin-top: -4px;
                        width:25px;
                        height:25px;
                        padding: 0px;">
                  </lord-icon>
                </div>
                <div class="like-count">{{ post.likes }}</div>
              </div>
            </div>
            <div class="comment">
              <div class="comment-icon">
                <lord-icon src="https://cdn.lordicon.com/fdxqrdfe.json" trigger="hover" style="
                    margin-top: -4px;
                        width:25px;
                        height:25px;
                        padding: 0px;">
                </lord-icon>
              </div>
              <div class="comment-count">75</div>
            </div>
            <div class="comment">
              <div class="comment-icon">
                <lord-icon src="https://cdn.lordicon.com/ercyvufy.json" trigger="hover" style="
                    margin-top: -4px;
                        width:25px;
                        height:25px;
                        padding: 0px;">
                </lord-icon>
              </div>
              <div class="comment-count"></div>
            </div>
          </div>
          <div class="description">
            <b>{{ post.username }}</b> {{ post.description }}
          </div>
        </div>
      </div>
      <div class="post-timestamp">
        {{ post.timestamp | date:"MMM dd, yyyy 'at' hh:mm a" }}
      </div>
    </div>
  </div>
  <div class="right-float">

    <div class="div1">
      <div style="font-size: 20px;" class="sb-right" title="View Profile" (click)="navigateToProfile(userId)">
        <div style="cursor: pointer;">
          <img class="user-icon" src="{{profileUser.profileImage}}" alt="">
        </div>
        <div style="cursor: pointer;" class="button-descp">
          {{ profileUser.username }}
        </div>
      </div>
    </div>

    <div class="div2">

      <div style="font-size: 15px;" class="y">
        <button appHoverEffect mat-button style="color: lightgreen;" (click)="sortDecreasing()">
          <mat-icon class="up">trending_up</mat-icon>
          <span class="desc">Increasing Populartiy</span>
        </button>
      </div>

      <div style="font-size: 15px;" class="z">
        <button appHoverEffect mat-button (click)="sortIncreasing()" style="color: lightcoral;">
          <mat-icon class="down">trending_down</mat-icon>
          <span class="desc">Decreasing Populartiy</span>
        </button>
      </div>
    </div>

    <div class="div3">
      <div class="linksdiv">
        <ul class="furtherlinks">
          <li class="listItem">About</li>
          <li class="listItem">Help</li>
          <li class="listItem">Press</li>
          <li class="listItem">API</li>
          <li class="listItem">Jobs</li>
          <li class="listItem">Privacy</li>
          <li class="listItem">Terms</li>
          <li class="listItem">Locations</li>
        </ul>
      </div>
    </div>
    <div class="desc" style="color: grey;">
      ---© 2023 INSTAGRAM---
    </div>
  </div>
</div>
<app-fab-button class="fab-button"></app-fab-button>