.plane {
  display: flex;
  flex-direction: column;
}

.main-container {
  position: relative;
  height: 100vh;
  padding-top: 50px;
  scroll-margin-top: 30px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 500px;
  border-top: 1px solid lightgray;
}

.description {
  height: 10%;
  margin-left: 20px;
}

.like-comment {
  display: flex;
  flex-direction: row;
  height: 5%;
  margin-left: 4px;
  margin-top: 2px;
}

.like {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 65%;
  margin-left: 10px;
  padding: 8px;
}

.like-icon {
  height: 100%;
  width: 100%;
}

.comment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 60%;
  padding: 8px;
}

.comment-icon {
  height: 100%;
  width: 100%;
}

.post-image {
  display: flex;
  flex-direction: row;
  height: 80%;
  justify-content: center;
  margin-bottom: 3px;
  max-width: 500px;
  max-height: 500px;
  overflow: hidden;
}

.post-img {
  border-radius: 2px;
  border-radius: 2px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.username {
  display: flex;
  flex-direction: row;
  height: 8%;
  align-items: center;
  margin-left: 16px;
  margin-bottom: 2px;
}

.username-icon {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}

.nwpost-icon img,
.like-icon img,
.comment-icon img {
  max-width: 100%;
  max-height: 100%;
}

.post-timestamp {
  position: absolute;
  height: 10px;
  width: 200px;
  right: 420px;
  font-size: 10px;
  color: grey;
}


.profile {
  border-radius: 15px;
  height: 10px;
  width: 10px;
}

.user-icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar {
  position: fixed;
  top: 66px;
  bottom: 0px;
  width: 200px;
  background-color: white;
  font-family: Roboto;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 5px;
  align-items: center;
  justify-content: space-evenly;
}

.sb {
  height: 74px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 10px;
}

div {
  font-size: 15px;
}

.sb-container-logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow:unset;
}

.button-descp {
  font-size: 15px;
  text-align: left;
}

.sb img {
  height: 35px;
  width: 35px;
  margin-bottom: 4px;
}

.sb-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.button-descp {
  overflow: auto;
}

.right-float {
  height: 250px;
  width: 250px;
  top: 150px;
  right: 200px;
  position: fixed;
  border-radius: 10px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.furtherlinks{
  color: grey;
  font-size: 12px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.listItem {
  margin-right: 15px; 
}

.up:hover {
  color: lightgreen;
}

.down:hover {
  color: lightcoral;
}

.up:hover mat-icon {
  transform: translateY(-5px);
}

.down:hover mat-icon {
  transform: translateY(5px);
}

.sb-right {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 5px;
}

.fab-button{
  position: fixed;
  bottom: 10px;
  right: 10px;;
}

@media (max-width: 1380px) {
  .desc {
    display: none;
  }
}

@media (max-width: 1200px) {
  /*right floating elements*/
  .div1,
  .div2,
  .div3 {
    display: none;
  }
  
  .right-float{
    border: none;
  }
  .listItem{
    display: none;
  }
}

@media (max-width: 1000px) {
  .sidebar {
    width: 50px;
  }
  .sb img {
    height: 35px;
  }
  .button-descp {
    display: none;
  }
  .insta-logo{
    display: none;
  }
  .insta-logo2{
    display: block;
  }
  
}
/* @media (min-width: 1000px){
  .insta-logo2{
    display: block;
  }
} */

@media (max-width: 800px) {
  .main-container {
    padding-left: 120px;
  }

  .container {
    width: 100%;
  }

  .column {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .sidebar {
    display: none;
  }

  .fab-button {
    display: block;
  }  
}

@media (min-width: 400px) {
  .fab-button {
    display: none;
  }
}

/* for mobile screens */
/* Screen width up to 320px */
@media (max-width: 320px) {
  .main-container {
    padding-left: 10px; /* Adjust as needed */
    padding-right: 10px; /* Adjust as needed */
  }

  .sidebar {
    display: none;
  }

  .fab-button {
    display: block;
  }
}

/* Screen width between 321px and 480px */
@media (min-width: 321px) and (max-width: 480px) {
  .main-container {
    padding-left: 20px; /* Adjust as needed */
    padding-right: 20px; /* Adjust as needed */
  }

  .sidebar {
    display: none;
  }

  .fab-button {
    display: block;
  }
}

/* Screen width between 481px and 720px */
@media (min-width: 481px) and (max-width: 720px) {
  .main-container {
    padding-left: 30px; /* Adjust as needed */
    padding-right: 30px; /* Adjust as needed */
  }

  .sidebar {
    display: none;
  }

  .fab-button {
    display: block;
  }
}

/* Screen width between 721px and 1080px */
@media (min-width: 721px) and (max-width: 1080px) {
  .main-container {
    padding-left: 40px; /* Adjust as needed */
    padding-right: 40px; /* Adjust as needed */
  }

  .sidebar {
    display: none;
  }

  .fab-button {
    display: block;
  }
}