<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="main">
  <app-spinner *ngIf="isFetching"></app-spinner>
  <div *ngIf="!isFetching" class="row1">
    <div class="r1col1">
      <app-spinner *ngIf="isFetching"></app-spinner>
      <img *ngIf="!isFetching" class="profile-image" src="{{user.profileImage}}" alt="Profile Picture">
    </div>
    <div class="r1col2">
      <app-spinner *ngIf="isFetching"></app-spinner>
      <div *ngIf="!isFetching" class="c2username" style="
      font-size: 18px;
      text-align: center;">
        {{user.username}}
      </div>
      <div *ngIf="!isFetching" class="c2description" style="margin-top: 10px;
      font-size: 16px;
      width: 100%;
      flex-wrap: wrap;
      text-align: center;">
        {{user.description}}
      </div>
      <div class="c2edit" style="
      position: absolute;
      right: 0px;">
        <button *ngIf="check" [disabled]="!check" appHoverEffect class="button-descp" (click)="edit()">
          <img src="../../assets/edit.png">
        </button>
      </div>

    </div>
  </div>
  <div class="row2">
    Posts
  </div>

  <div class="row3">
    <app-spinner *ngIf="isFetching"></app-spinner>

    <div *ngFor="let post of userPosts" class="post">
      <div *ngIf="!isFetching"class="col1">
        <div class="post-image">
          <img class="post-img" src="{{post.path}}" alt="Post Image">
        </div>
      </div>
    </div>
  </div>
</div>
<app-fab-button class="fab-button"></app-fab-button>