.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #444444; /* Set background color to white */
}

.form-container {
  max-width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #444444; /* Set background color to white */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center items horizontally */
}

/* Style form elements */
.form-group {
  margin-bottom: 15px;
  width: 100%; /* Expand form-group to full width */
  text-align: left; /* Adjust text alignment */
  background-color: #444444; /* Set background color to white */
}

label {
  font-weight: bold;
  color: black; /* Set font color to black */
}

/* Adjust input width and alignment */
mat-form-field {
  width: 100%;
  text-align: left; /* Adjust text alignment */
  background-color: white; /* Set background color to white */
}

/* Adjust button styling */
button {
  background-color: #007bff;
  color: white; /* Set font color to white */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Expand button to full width */
  margin-top: 15px; /* Add space between button and form fields */
}

button:hover {
  background-color: #0056b3;
}
p{
  color: white;
}