<div class="container">
  <div class="form-container">
    <p>Enter an email address to which we can send you a recovery mail.</p>
    <mat-label style="color: lightgrey;">Email</mat-label>
        <!-- <input matInput type="email" name="email" [(ngModel)]="user.email" required email #email="ngModel"> -->
        <!-- <mat-error *ngIf="email.invalid && email.touched">Please enter a valid email</mat-error> -->
    <input matInput type="email" name="email" [(ngModel)]="email">
    <button mat-button (click)="forgotPassword()">Send Link</button>
    <p 
      (click)="route('/login')"
      style="cursor: pointer;" > &#60;Back to Login
    </p>
  </div>
</div>
